body {
    background-color:white;
}
h3 {
    text-align: center;
    font-size: 16px;
   
}
p {
    text-align: center;
    font-size: 13px;
    
}
.back-box {
    background-color: #d5e1ef;
    border-radius: 10px;
    margin: 100px;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 80px;
    filter: drop-shadow(2px 2px 13px #cbd7e4);
   
}
.center-box {
    border-radius: 10px;
    text-align: center;
    background: white;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 98px;
}
.qr-box {
    border-radius: 15px;
    padding: 10px 10px 20px 10px;

}
.qr-image {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    filter: drop-shadow(2px 2px 13px #cbd7e4);
    
}
.text-box {
    margin-left: 10px;
    margin-right: 10px;
}      

.attribution { 
    font-size: 11px; 
    text-align: center;
 }

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}